@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model ChuyenDeDiu.Models.PhieuNhap
<div id="frmUpdate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <input id="txtMa"  value="@Model.Ma" type="hidden"/>
            <label class="col-sm-3">Nhà cung cấp: @Model.NhaCungCap.Ten</label>
            @*<div class="col-sm-8">
                <select class="form-control" id="cbNCC" name="">
                    @foreach (var item in (List<ChuyenDeDiu.Models.NhaCungCap>)ViewData["NhaCungCap"])
                    {
                        <option value="@item.Ma">
                            @item.Ten
                        </option>
                    }
                </select>
            </div>*@
        </div>
    </div>
    
    @*<div class="form-group">
        <div class="row">
            <label class="col-sm-3"></label>
            <div class="col-sm-8">
                <button id="btnThemPhieu" class="btn btn-success">Cập nhập phiếu phiếu</button>
            </div>
        </div>
    </div>*@
    <div id="dtChiTiet">

    </div>
</div>
<script>
    var frmUpdate = $('#frmUpdate');
    var urlDomain = "/phieunhap"
    $(document).ready(function () {
        getChiTiet($("#txtMa").val());
        addRequired(frmUpdate);
        frmUpdate.find('lbStatus').on('click', function () {
            frmUpdate.find('ckbStatus').prop('checked') = !frmUpdate.find('ckbStatus').prop('checked')
        })
    });

    $('#btnThemPhieu').off("click").on('click', function (e) {
        e.preventDefault();
        create();
    });
    function create() {
        //if (ValidateForm(frmUpdate)) {
        //    return;
        //}

        $.ajax({
            url: urlDomain + "/update",
            method: "POST",
            data: {
                MaNV: frmUpdate.find('#cbNCC').val(),
                MaNCC: frmUpdate.find('#cbNhanVien').val(),
            }
            , success: function (response) {

                if (response.result) {
                    // datasource = response.data
                    console.log(response);
                    showAlert("Thêm mới thành công", 2)
                    // getData();
                    //window.location.href = urlDomain + "/chitiet?ma=" + response.data.Ma;
                    getChiTiet(response.data.Ma)
                    $('#btnThemPhieu').attr("display": "none");

                } else {
                    showAlert(response.message)
                }
            }
        });
        function getData() {

            $.ajax({
                url: urlDomain + "/getlist",
                method: "GET",
                data: {
                    title: frmFilter.find('#txtName').val(),
                    take: take,
                    skip: skip
                }
                , success: function (response) {
                    $('#dtTable').html(response);

                }
            });
        }
    }
    getChiTiet = (ma) => {
        $.ajax({
            url: urlDomain + "/ChiTiet?ma=" + ma,
            method: "GET",
            success: function (response) {
                $('#dtChiTiet').html(response);

            }
        });
    }
</script>


